@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-weight: normal;
  src: local(DejaVu Sans Mono), local(DejaVuSansMono),
    url(DejaVuSansMono.woff2) format("woff2");
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-weight: bold;
  src: local(DejaVu Sans Mono Bold), local(DejaVuSansMono-Bold),
    url(DejaVuSansMono-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  font-weight: bold;
  src: local(DejaVu Sans Mono Bold Oblique), local(DejaVuSansMono-BoldOblique),
    url(DejaVuSansMono-BoldOblique.woff2) format("woff2");
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  font-weight: normal;
  src: local(DejaVu Sans Mono Oblique), local(DejaVuSansMono-Oblique),
    url(DejaVuSansMono-Oblique.woff2) format("woff2");
}
